{% from "macros/format_number.html.twig" import formatNumber %}
{% extends "partials/_base.html.twig" %}

{% block title %} Wallet {% endblock %}
{% block content %}
    <h1 class="text-gray-200 py-4 text-2xl">
        Wallet
    </h1>
    {% if not wallet %}
        <p class="text-gray-200 py-4 text-1xl">Wallet not found.</p>
    {% else %}
        <div class="shadow-2xl relative overflow-x-auto max-w-5xl">
            <table class="w-full text-sm text-left text-gray-400 shadow">
                <thead class="text-xs uppercase bg-gray-700 text-gray-400">
                <tr>
                    <th scope="col" class="px-6 py-3">
                        Ticker
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Amount
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Profit %
                    </th>
                </tr>
                </thead>

                <tbody>
                {% for money in wallet %}
                    <tr class="border-b bg-gray-800 border-gray-700 text-gray-400 even:brightness-105">
                        <td class="px-6 py-4 hover:text-gray-200">
                            <a href="/currencies/{{ money.ticker }}">{{ money.ticker }}</a>
                        </td>
                        <td class="px-6 py-4>">
                            {{ formatNumber(money.amount) }}
                        </td>
                        <td class="px-6 py-4>">
                            {{ formatNumber(percentages[loop.index0], 4) }}%
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    {% endif %}
{% endblock %}
