<div class="bg-gray-700 text-gray-400 min-h-12 text-xl flex place-items-center justify-center">
    <div class="flex place-items-center justify-around w-1/2">
        <a class="hover:text-gray-200" href="/">Home</a>
        <!-- we aren't doing user login yet, so user is hardcoded here -->
        <a class="hover:text-gray-200" href="/wallets/foobarWallet">My wallet</a>
        <a class="hover:text-gray-200" href="/transactions?user=foobar">My transactions</a>
    </div>
</div>