<!doctype html>
<html lang="en">
{{ include("head.html.twig") }}
{{ include("header.html.twig") }}
<body>
<h1>
    Currency list
</h1>
{% if not currencies %}
    <p>No currencies found.</p>
{% else %}
    <table>
        <tr>
            <th>Ticker</th>
            <th>Exchange Rate</th>
        </tr>
        {% for currency in currencies %}
            <tr>
                <td>{{ currency.ticker }}</td>
                <td>{{ currency.exchangeRate }}</td>
            </tr>
        {% endfor %}
    </table>
{% endif %}
</body>
</html>