<!doctype html>
<html lang="en">
{{ include("head.html.twig") }}
{{ include("header.html.twig") }}
<body>
<h1>
    Currency
</h1>
{% if not currency %}
    <p>Currency not found.</p>
{% else %}
    <table>
        <tr>
            <th>Ticker</th>
            <th>Exchange Rate</th>
        </tr>
        <tr>
            <td>{{ currency.ticker }}</td>
            <td>{{ currency.exchangeRate }}</td>
        </tr>
    </table>
{% endif %}
</body>
