{% extends "partials/_base.html.twig" %}
{% block content %}
    <h1 class="text-gray-200 py-4 text-2xl">
        404: Not found
    </h1>
    <a class="text-gray-300 hover:text-gray-200" href="/">Back to home</a>
{% endblock %}