<header>
    <a href="/">Home</a>
    <!-- we aren't doing user login yet, so user is hardcoded here -->
    <a href="/wallets/foobarWallet">My wallet</a>
    <a href="/transactions?user=foobar">My transactions</a>
</header>
