<header>
    <a href="/">Home</a>
    <!-- we aren't doing user login yet, so wallet is hardcoded here -->
    <a href="/wallets/foobarWallet">My wallet</a>
    <form action="/currencies">
        <label for="tickers">Find currencies by tickers:</label><br>
        <input type="text" id="tickers" name="tickers">
        <input type="submit" value="Submit">
    </form>
</header>
