<header>
    <a href="/">Home</a>
    <a href="/about">About</a>
    <form action="/currencies">
        <label for="tickers">Find currencies by tickers:</label><br>
        <input type="text" id="tickers" name="tickers">
        <input type="submit" value="Submit">
    </form>
</header>
